
<div>
    <h2><strong>Novo Professor</strong></h2>
  </div>
  <form class="form-width example-container" [formGroup]="teacherForm" (ngSubmit)="addTeacher(teacherForm.value)">
    <mat-form-field>
      <input matInput name="name" placeholder="Nome do professor" formControlName="name">
    </mat-form-field>
    <mat-form-field>
      <input  matInput name="lastName" placeholder="Sobrenome" formControlName="lastName">
    </mat-form-field>
    <!-- <mat-form-field>
      <input matInput name="phd" placeholder="Possui PHD" formControlName="phd">
    </mat-form-field> -->
    <mat-checkbox class = "example-margin" formControlName="phd" value="true"> 
        <label>Esse professor possui PHD </label> 
    </mat-checkbox>
  
    <button type="submit" [disabled]="!teacherForm.valid" mat-button color="primary" >Adicionar</button>
  </form>
