<div>
    <h2><strong>Editar Usuário</strong></h2>
    </div>
    
    <form class="example-container" [formGroup]="userForm" (ngSubmit)="putUser(userForm.value)">
      <mat-form-field>
        <input matInput name="name" placeholder="nome" formControlName="name">
      </mat-form-field>
      <mat-form-field>
        <input  matInput name="lastName" placeholder="sobrenome" formControlName="lastName">
      </mat-form-field>
      <mat-form-field>
        <input matInput name="profile" placeholder="perfil" formControlName="profile">
      </mat-form-field>
    
      <button type="submit" [disabled]="!userForm.valid" mat-button color="primary" >Editar</button>
    </form>
