<div>
    <h2><strong>Novo Curso</strong></h2>
    </div>
    <form class="form-width example-container" [formGroup]="courseForm" (ngSubmit)="addCourse(courseForm.value)">
      <mat-form-field>
        <input matInput name="name" placeholder="Nome do curso" formControlName="name">
      </mat-form-field>
      <mat-form-field>
        <input  matInput name="period" placeholder="Periodo" formControlName="period">
      </mat-form-field>
      <mat-form-field>
        <input  matInput name="city" placeholder="cidade" formControlName="city">
      </mat-form-field>
      <mat-form-field>
        <mat-label >Professores</mat-label>
        <mat-select name="teachers" formControlName="teachers" multiple>
        <mat-option *ngFor="let element of teachers" [value]="element.id">{{element.name}} {{element.lastName}}</mat-option>
        </mat-select>
      </mat-form-field>
    
      <button type="submit" [disabled]="!courseForm.valid" mat-button color="primary" >Adicionar</button>
    </form>
