<div class="animated fadeIn">
    <div class="card-columns cols-2">
      
     
      <div class="card">
        <div class="card-header">
          Alunos por Curso
          <div class="card-header-actions">
            <!-- <a href="http://www.chartjs.org">
              <small class="text-muted">docs</small>
            </a> -->
          </div>
        </div>
        <div class="card-body">
          <div class="chart-wrapper">
            <canvas baseChart class="chart" *ngIf="pieChartData && pieChartData.length === pieChartLabels.length"

            [data]="pieChartData"
            [labels]="pieChartLabels"
            [chartType]="pieChartType"
            (chartHover)="chartHovered($event)"
            (chartClick)="chartClicked($event)"></canvas>
          </div>
        </div>
      </div>
    </div>
  </div>
  
