table{
    width: 100%;
    /* text-align:center; */
}

h2{
    padding: 0px 10px;
}

/* ng-container {
    text-align:center;
} */

.mat-form-field {
    font-size: 14px;
    padding: 15px;
    width: 30%;
  }

.botoes {
    color: white;
    background: #146418;
}

.botoes-add {
    text-transform: uppercase;
    margin: 15px 10px;
}

mat-paginator {
    width: 100%;
}