.mat-width{
    width: 100%;
}

.mat-form-field {
    font-size: 14px;
    padding: 15px;
    width: 30%;
  }

h2{
    padding: 0px 10px;
}

.botoes {
    color: white;
    background: #146418;
}

.botoes-add {
    margin: 15px 10px;
    text-transform: uppercase;
}
