<div>
    <h2><strong>Novo Aluno</strong></h2>
    </div>
    <form class="form-width example-container" [formGroup]="studentForm" (ngSubmit)="addStudent(studentForm.value)">
      <mat-form-field>
        <input matInput name="name" placeholder="Nome do estudante" formControlName="name">
      </mat-form-field>
      <mat-form-field>
        <input  matInput name="lastName" placeholder="Sobrenome" formControlName="lastName">
      </mat-form-field>
      <mat-form-field>
        <input  matInput name="age" placeholder="Idade" type="number" formControlName="age">
      </mat-form-field>
      <mat-form-field>
        <mat-label >Curso</mat-label>
        <mat-select name="course" formControlName="course">
        <mat-option *ngFor="let element of course" [value]="element.id">{{element.name}}</mat-option>
        </mat-select>
      </mat-form-field>
    
      <button type="submit" [disabled]="!studentForm.valid" mat-button color="primary" >Adicionar</button>
      </form>
